@import url('https://fonts.googleapis.com/css?family=Open+Sans:300|Playfair+Display:700&display=swap&subset=latin-ext');

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-align: center;
  background-color: #ffefef;
  box-sizing: border-box; /*padding se počítá dovnitř zadané šířky??? tomu moc nerozumím, dohledat*/
}

h1,
h2 {
  font-family: 'Playfair Display', serif;
}

.menu {
  background-color: #ffffff;
  margin-left: 100px;
  margin-right: 100px;
  padding: 50px;
}

.main_images {
  display: block;
}

.main_images img {
  width: 33%;
}

.button {
  background-color: #ffefef;
  width: 120px;
  padding: 10px;
  font-size: 12px;
}

.dishes {
  display: block;
}
.dishes img {
  width: 50%;
}

footer {
  font-size: 10px;
}